spring:
  application:
    name: zuulserver
  profiles:
    active: default
  cloud:
    config:
      enabled: true

server:
  port: 5555

management:
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: "*"
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

zuul:
  sensitive-headers: Set-Cookie, Cookie
  ignore-security-headers: false
  routes:
    authserver:
      path: /authentication/**
      serviceId: userservice
      stripPrefix: false

    userservice:
      path: /users/**
      serviceId: userservice
      stripPrefix: false

    couponservice:
      path: /coupon/**
      serviceId: couponservice
      stripPrefix: false

    ribbon:
      eager-load:
        enabled: true


