spring:
    application:
        name: zuulserver
    profiles:
        active:
            default
    cloud:
        config:
            enabled: true

server:
    port: 5555

management:
    security:
        enabled: false
    endpoints:
        web:
            exposure:
                include: '*'
eureka:
    instance:
        preferIpAddress: true
    client:
        registerWithEureka: true
        fetchRegistry: true
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/

zuul:
    sensitive-headers: Cookie,Set-Cookie
    ignored-services: '*'
    prefix: /api
    routes:
        authserver: /auth/**
        demoserver: /demo/**

