spring:
    application:
        name: zuulserver
    profiles:
        active:
            default
    cloud:
        config:
            enabled: true

server:
    port: 5555

eureka:
    instance:
        preferIpAddress: true
    client:
        registerWithEureka: true
        fetchRegistry: true
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/

zuul:
    ignored-services: '*'
    prefix: /api
    routes:
        authserver: /auth/**
        demoserver: /demo/**