<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/loader.css" />
    <title>비밀번호 변경 테스트</title>
  </head>
  <body>
    <div class="main-content space-top wrapper" role="main" id="mainContent">
      <p id="message">비밀번호를 변경하고 있습니다.</p>
      <div id="loader" class="loader loader-black loader-3"></div>
    </div>
    <script>
      const request1 = new XMLHttpRequest();
      const messageElement = document.querySelector('#message');
      const loaderElement = document.querySelector('#loader');
      request1.onload = () => {
        if (request1.status === 200) {
          const request2 = new XMLHttpRequest();
          const token = JSON.parse(request1.response).token;
          request2.open('PUT', '/users/<%- email %>/auth?type=pwd');
          request2.setRequestHeader('Content-Type', 'application/json');
          request2.send(
            JSON.stringify({
              new_encpwd: 'abcdefgh1234',
              token,
            }),
          );
          request2.onload = () => {
            if (request2.status === 200) {
              messageElement.textContent = '변경이 완료되었습니다.';
              loaderElement.classList.remove('loader-3', 'loader-black');
              loaderElement.classList.toggle('loader-green');
              loaderElement.classList.toggle('loader-5');
            } else {
              messageElement.textContent = '변경에 실패했습니다.';
              loaderElement.classList.remove('loader-3', 'loader-black');
              loaderElement.classList.toggle('loader-red');
              loaderElement.classList.toggle('loader-5');
            }
          };
        } else {
          messageElement.textContent = '변경에 실패했습니다.';
          loaderElement.classList.remove('loader-3', 'loader-black');
          loaderElement.classList.toggle('loader-red');
          loaderElement.classList.toggle('loader-5');
        }
      };
      request1.open('POST', '/users/<%- email %>/auth?type=pwd');
      request1.setRequestHeader('Content-Type', 'application/json');
      request1.send(
        JSON.stringify({
          old_encpwd: 'thisispassword1234',
        }),
      );
    </script>
  </body>
</html>
