<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Test</title>
    <style>
      section {
        text-align: center;
      }
      input {
        width: 300px;
        height: 30px;
        display: inline-block;
        margin: 1rem;
      }
      button {
        margin: 1rem;
        width: 300px;
        height: 50px;
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>업체 등록 테스트</h1>
      <input id="email" type="email" placeholder="email" /> <br />
      <input id="plain_password" type="password" placeholder="password" />
      <br />
      <input id="letter_ok" type="checkbox" placeholder="letterOK" /> <br />
      <input id="company_number" placeholder="사업자 등록번호" /> <br />
      <input id="company_name" placeholder="업체 이름" /> <br />
      <input id="company_phone" placeholder="업체 번호" /> <br />
      <input id="company_address" placeholder="업체 주소" /> <br />
      <input id="company_owner" placeholder="사업자 이름" /> <br />
      <input id="company_homepage" placeholder="업체 홈페이지" /> <br />
      <input id="company_logo" placeholder="업체 로고" /> <br />
      <button onclick="registration()">등록하기</button>
    </section>
    <script>
      function registration() {
        const email = document.querySelector('#email').value;
        const plain_password = document.querySelector('#plain_password').value;
        const letter_ok = document.querySelector('#letter_ok').checked;
        const company_number = document.querySelector('#company_number').value;
        const company_name = document.querySelector('#company_name').value;
        const company_phone = document.querySelector('#company_phone').value;
        const company_address = document.querySelector('#company_address')
          .value;
        const company_owner = document.querySelector('#company_owner').value;
        const company_homepage = document.querySelector('#company_homepage')
          .value;
        const company_logo = document.querySelector('#company_logo').value;

        fetch('/users/company', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            reg_info: {
              email,
              plain_password,
              letter_ok,
            },
            company_info: {
              company_number,
              company_name,
              company_phone,
              company_address,
              company_owner,
              company_homepage,
              company_logo,
            },
          }),
        })
          .then(async (res) => {
            const text = await res.text();
            console.log(text);
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
