version: "3.3"
services:
  eurekaserver:
    image: digicu/eurekaserver
    ports:
      - "8761:8761"

  zuulserver:
    image: digicu/zuulserver
    ports:
      - "5555:5555"
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurekaserver:8761/eureka/

  couponservice:
    image: digicu/couponservice
    ports:
      - "8501:8501"
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurekaserver:8761/eureka/

  userservice:
    image: digicu/userservice
    ports:
      - "5000:5000"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=eurekaserver
      - DB_HOST=givven.cyucihz6valb.ap-northeast-2.rds.amazonaws.com
      - DB_USER=admin
      - DB_PASS=givven123
      - SMTP_ORIGIN=http://ec2-3-34-247-127.ap-northeast-2.compute.amazonaws.com:5555
      - EUREKA_ENV=true

  posservice:
    image: digicu/posservice
    ports:
      - "5001:5001"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=eurekaserver
      - DB_HOST=givven.cyucihz6valb.ap-northeast-2.rds.amazonaws.com
      - DB_NAME=pos_db
      - DB_USER=admin
      - DB_PASS=givven123
      - EUREKA_ENV=true
      - USER_SERVICE_URL=userservice
