version: "3.3"
services:
  eurekaserver:
    image: digicu/eurekaserver
    ports:
      - "8761:8761"

  zuulserver:
    image: digicu/zuulserver
    ports:
      - "5555:5555"
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurekaserver:8761/eureka/

  couponservice:
    image: digicu/couponservice
    ports:
      - "8501:8501"
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eurekaserver:8761/eureka/

  userservice:
    image: digicu/userservice
    ports:
      - "3000:3000"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=eurekaserver
